.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.error {
  color: red;
}

.popup-edit {
  background-color: yellowgreen;
  padding: 20px;
}

input,
textarea {
  display: block;
  padding: 5px;
}

*{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  
}


@media (max-width: 480px) {
  
}

@media (max-width: 880px) and (min-width: 481px) {
 
}