.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.error {
  color: red;
}

.popup-edit {
  background-color: yellowgreen;
  padding: 20px;
}

input,
textarea {
  display: block;
  padding: 5px;
}

*{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  
}



@media (max-width: 880px) {
  section {
    width: 85%;
    font-size: 0.95rem;
  }
}


@media (max-width: 480px) {
  section {
    width: 95%;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    width: 100%; 
  }
}